<%= form_tag "/session" do %>

  <div class="small-4 columns">
  <%= email_field_tag :email, 'email' %>
  </div>
  <div class="small-4 columns">
  <%= password_field_tag :password, 'password' %>
  </div>
  <div class="small-3 columns">
  <%= submit_tag "Log in!", class:"alert button" %>
  </div>
  
<% end %>

<% unless flash[:message].nil? %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <li><em><%= flash[:message] %></em></li>
    </ul>
  </div>
<% end %>