<h1>Welcome <%= @user.name %></h1>
  <div id="toolbar">
    <div id="rad">
      Radius <span id="radval">10</span>
      <div id="decrad" class="radcontrol">-</div>
      <div id="incrad" class="radcontrol">+</div>
    </div>
    <div id="colors">
    </div>
    <div id="resolution">
    </div>
  </div>
  <canvas id="canvas" style="border: 1px solid black">
    Sorry, your browser doesn't support the cavas.
  </canvas>
  <div id="profile menue">
  <p><%= link_to "Update your profile", edit_user_path(@user) %></p>
  <p><%= form_tag user_path(@user), method: "delete",data: { confirm: "Are you sure?"} do %>
      <%= submit_tag("Delete My Account") %></p>
    <% end %>
  </div>
  <%= javascript_include_tag "canvas", "colors", "radius","heightwidth", "save_image"  %>


