<p class="panel">Add another image to you album</p>
<%= form_for  [@user, @image], url: user_images_path do |v| %>
   <%= v.label :name %>
  <%= v.text_field :name %>

  <%= v.label :image_url %>
  <%= v.text_field :image_url %>

  <%= v.hidden_field :attachment_cache %>
  <%= v.file_field :attachment %>
 
  <%= v.submit class:"small button" %>
<% end %>