<section class="row">
  <div class="small-6 columns">
    <div id="image_form">
      <%= render "form" %>
    </div>
  </div>
  <div class="small-6 columns">
    <div id="album_notes" class="panel callout">
      <p>Please note that, whenever you upload or add image from external url or your computer, you can edit it, but you won't be able to save it in current version of the programm</p>
      <p>If you're going to edit existing image, please remember it's name and enter it later to overwrite it.</p>
    </div>
  </div>
</section>
<section class="row">
  <div class="small-12 columns" id="album_table">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <% @images.each do |img| %>
        <% unless img.image_url.empty? %>
            <li><p><%= img.name %></p><%= link_to image_tag(img.image_url), user_image_path(@user, img), class: "th album-image-back" %></li>
        <% else %>
          <li style="background-color: white;"><p><%= img.name %></p><%= link_to image_tag(img.attachment), user_image_path(@user, img), class: "th album-image-back" %></li>
          <% end %>
        <% end %>
    </ul>
  </div>
</section>