<!DOCTYPE html>
<html>
<head>
  <title>Imago</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">localStorage["image"];</script>
<body>
<header>
<div class="nav-bar">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About the author", about_author_path %></li>

    <% if logged_in? %>
      <li><%= link_to "My album", user_images_path(current_user) %></li>
      <li><%= link_to "Canvas", user_path(current_user) %></li>
      <li class="right"><%= link_to("Log Out #{current_user.name}!", "/session", method: "delete") %></li>
    <% else %>
      <li class="right"><%= render "session/form" %></li>
      <li class="right"><%= link_to "Sign up", new_user_path %></li>
    <% end %>
  </ul>
</div>

  </header>
<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
