<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "IMAGO: Image editor" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= include_gon %>
    <%= csrf_meta_tags %>
  </head>
  <script type="text/javascript">localStorage["image"];</script>
  <body>
    <header>
      <nav class="top-bar" data-topbar>
        <section class="top-bar-section">
        <ul class="left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About application", about_app_path %></li>
          <li><%= link_to "About the author", about_author_path %></li>

          <% if logged_in? %>
          <li><%= link_to "My album", user_images_path(current_user) %></li>
          <li><%= link_to "Canvas", user_path(current_user) %></li>
        </ul>
        
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">User menu</a>
            <ul class="dropdown">
              <li><%= link_to "Update your profile", edit_user_path(current_user) %></li>
              <li>
                <%= link_to "Delete my profile", user_path(current_user), method: "delete", data: { confirm: "Are you sure you want to delete your profile? You'll loose your album and all your saved pictures"} %>
              </li>
            </ul>
          </li>
          <li><%= link_to("Log Out #{current_user.name}!", "/session", method: "delete") %></li>
          <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li class="has-form">
            <div class="row collapse">
            <%= render "session/form" %>
            </div>
          </li> 
        </ul>
        <% end %>
        </section>
      </nav>
      
    </header>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <% if !logged_in? %>
      <%= javascript_include_tag "login_placeholders" %>
    <% end %>
  </body>
</html>